.fondo-transparente{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.encabezado{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    line-height: 10px;
    margin-top: 60px;
}

.encabezado p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.container-padre{
    background-color: rgb(32, 27, 61);
    opacity: 90%;
    width: 60vw;
    height: 97vh;
    overflow-y: scroll;
}

.contenedor-hijo{
    background-color: rgb(224, 222, 233);
    width: 30vw;
    padding: 10px;
    border-radius: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    gap: 5px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 0px;
}

.formulario label{
    margin-top: 20px;
}

.input-estilo{
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #080808;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}

.input-estilo:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #080808;
  }

.boton-enviar{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 10px;
    margin: 25px 0px;
    width: 150px;
    font-size: 18px;
    background: #d9d9e2;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #080808;
  }
  
  .btn:hover {
    background-color: #3b82f6;
    color: #fff;
    opacity: 0.9;
    cursor: pointer;
  }

  #regresar{
    padding: 10px;
    margin: 25px 0px;
    width: 150px;
    font-size: 18px;
    background: #c3c3d3;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #080808;
  }
  #regresar:hover{
    background-color: #8b4e4e;
    color: #fff;
    opacity: 0.9;
    cursor: pointer;
  }
  .tablaPrincipal{
    width: 100%;
    border: 2px solid black;
  }

  .primaraFila td{
    background-color: #264143;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }

  .demasFila{
    background-color: #3b83f673;
    color: black;
    font-size: 18px;
    padding: 5px;
  }

  .demasFila td{
    text-align: center;
  }

  .botonEditar{
    padding: 5px;
    font-size: 18px;
    background: rgb(90, 90, 245);
    font-weight: 400;
    cursor: pointer;
  }

  .botonEliminar{
    padding: 5px;
    font-size: 18px;
    background: rgb(241, 68, 68);
    font-weight: 400;
    cursor: pointer;
  }

  .botonesElimanacion{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  #eliminarFila{
    background: red;
  }

  #eliminarFila:hover{
    cursor: pointer;
  }

  .buscar{
    display: inline;
    margin-left: 20px;
  }
